body{
	background-color:pink;
}
h1{
	font-family:"Pegasus", "Comic Sans MS", Arial;
}
div.container{
	background-color:white; 
	width:90%;
	margin:20px auto;
	padding:2em;
	border:0.2em #369 dashed;
}